.match{
    display:flex;
    align-items: center;
    padding:1vh;
    cursor: pointer;
}

.match:hover{
    background-color: rgb(250, 249, 249) ;
}

.match__image{
    width: 4vw;
    height: 4vw;
    border-radius:50%;
    object-fit: cover
}

.match_name{
    font-weight: 500;
    font-size: 1.5vh;
}